// Button Border White
.button-border-white {
	color: #f5f5f7;
	font-size: 17px;
	line-height: 118%;
	border-radius: 35px;
	align-items: center;
	display: inline-flex;
	letter-spacing: -0.02em;
	justify-content: center;
	border: 1px solid #f5f5f7;
	transition:
		background-color 0.3s,
		color 0.3s;
	min-height: clamp(44px, 5vw, 56px);
	padding-left: clamp(21px, 5vw, 30px);
	padding-right: clamp(21px, 5vw, 30px);
	@media (any-hover: hover) {
		&:hover {
			color: #000;
			background-color: #f5f5f7;
		}
	}
}
// Button Border Black
.button-border-black {
	color: #1d1d1f;
	font-size: 17px;
	line-height: 118%;
	border-radius: 35px;
	align-items: center;
	display: inline-flex;
	letter-spacing: -0.02em;
	justify-content: center;
	border: 1px solid #1d1d1f;
	transition:
		background-color 0.3s,
		color 0.3s;
	min-height: clamp(44px, 5vw, 56px);
	padding-left: clamp(21px, 5vw, 30px);
	padding-right: clamp(21px, 5vw, 30px);
	@media (any-hover: hover) {
		&:hover {
			color: #f5f5f7;
			background-color: #1d1d1f;
		}
	}
}
