@import "../../../variables.scss";
.main {
	margin-top: -44px;
	padding-top: clamp(35px, 10vw, 70px);
	@media (max-width: $mobile) {
		margin-top: -48px;
	}
}
.image {
	display: flex;
	overflow: hidden;
	position: relative;
	min-height: clamp(500px, 4vw, 720px);
	border-radius: clamp(18px, 4vw, 40px);
}
.button {
	top: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	padding-left: 1px;
	border-radius: 50%;
	position: absolute;
	align-items: center;
	background-color: #fff;
	justify-content: center;
	right: clamp(24px, 4vw, 40px);
	transform: translate(0px, -50%);
	transition: background-color 0.15s;
	@media (any-hover: hover) {
		&:hover {
			background-color: rgba(#fff, 0.7);
		}
	}
}
