@import "../../../variables";
// Watch Section
.main {
	background-color: #000;
	padding-top: clamp(40px, 6vw, 80px);
}
.body {
	margin: 0 auto;
	text-align: center;
	max-width: clamp(290px, 70vw, 545px);
	&:not(:last-child) {
		margin-bottom: 50px;
	}
	@media (max-width: $mobile) {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
}
.title {
	color: #f5f5f7;
	font-weight: 700;
	line-height: 103%;
	letter-spacing: -0.01em;
	font-size: clamp(34px, 10vw, 62px);
	&:not(:last-child) {
		margin-bottom: 24px;
	}
	@media (max-width: $mobileSmall) {
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}
}
.text {
	color: #86868b;
	text-align: center;
	color: rgba(255, 255, 255, 0.65);
	&:not(:last-child) {
		margin-bottom: 28px;
	}
	@media (max-width: $mobileSmall) {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
.actions {
	display: flex;
	column-gap: 20px;
	align-items: center;
	justify-content: center;
	@media (max-width: $mobileSmall) {
		column-gap: 10px;
	}
}
.image {
	text-align: center;
	@media (max-width: $mobile) {
		margin: 0px -100px;
	}
}
