@import "variables";
/*
::-webkit-scrollbar {
	width: 2px;
	border-radius: 1px;
	background-color: #111;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #fff;
}
*/
// Title
.title {
	line-height: 110%;
	letter-spacing: -0.02em;
	&--big {
		font-size: clamp(42px, 10vw, 77px);
	}
	&--ord {
		font-size: clamp(24px, 7vw, 54px);
	}
}
// Heading
.heading {
	display: flex;
	align-items: end;
	justify-content: space-between;
	margin-bottom: clamp(35px, 10vw, 70px);
	@media (max-width: 589.98px) {
		row-gap: 7px;
		align-items: start;
		flex-direction: column;
	}
	&__subtitle {
		font-weight: 700;
		line-height: 118%;
		font-size: clamp(22px, 5vw, 27px);
		@media (min-width: $mobileSmall) {
			padding-bottom: 4px;
		}
	}
}
// Arrows
.arrows {
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	&__arrow {
		width: 36px;
		height: 36px;
		display: flex;
		padding-left: 2px;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		background-color: rgba(210, 210, 215, 0.64);
		transition:
			background-color 0.3s,
			opacity 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(210, 210, 215, 0.44);
			}
		}
		&:active {
			background-color: rgba(210, 210, 215, 0.84);
		}
		&.swiper-button-disabled {
			opacity: 0.42;
			pointer-events: none;
		}
		&--prev {
			transform: rotate(-180deg);
		}
	}
}
.arrows-fixed {
	left: 0;
	right: 0;
	gap: 20px;
	opacity: 0;
	z-index: 5;
	bottom: 14px;
	display: flex;
	margin: 0 auto;
	position: fixed;
	padding: 0px 15px;
	max-width: 1290px;
	visibility: hidden;
	align-items: center;
	justify-content: flex-end;
	transition: opacity 0.5s, visibility 0.5s;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
// Image
.image {
	img {
		width: 100%;
		object-fit: cover;
		transform: scale(1.03);
		transition: transform 0.3s;
	}
}
// Link
.link {
	color: #06c;
	font-size: 17px;
	line-height: 147%;
	letter-spacing: -0.02em;
	svg {
		width: 12px;
		height: 12px;
		padding-left: 5px;
		margin-bottom: -1.1px;
	}
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}
