$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

$fontFamilyPro: "SFProText";
$fontFamilyDisplay: "SFProDisplay";

.text {
	font-weight: 700;
	line-height: 130%;
	&--primary {
		font-size: clamp(18px, 5vw, 30px);
	}
	&--secondary {
		letter-spacing: 0.01em;
		font-family: $fontFamilyDisplay;
		font-size: clamp(16px, 3vw, 23px);
		span {
			font-size: 13px;
			text-decoration: underline;
			text-decoration-skip-ink: none;
		}
	}
}

:root {
	--apple-com-nero: #fff;
	--apple-com-white-lilac: #fbfbfd;
	--apple-com-shark: #1d1d1f;
	--apple-com-science-blue: #06c;
	--apple-com-black: #000;
	--apple-com-athens-gray: #f5f5f7;
	--apple-com-japanese-laurel: #2997ff;
	--apple-com-black-800: rgba(0, 0, 0, 0.8);
	--apple-com-black-420: rgba(0, 0, 0, 0.42);
	--apple-com-cod-gray: #1d1d1d;
	--apple-com-black-160: rgba(0, 0, 0, 0.16);
	--apple-com-black-560: rgba(0, 0, 0, 0.56);
	--apple-com-black-720: rgba(0, 0, 0, 0.72);
	--apple-com-black-880: rgba(0, 0, 0, 0.88);
	--apple-com-black-480: rgba(0, 0, 0, 0.48);
	--apple-com-woodsmoke-800: rgba(22, 22, 23, 0.8);
	--apple-com-nero-800: rgba(255, 255, 255, 0.8);
	--apple-com-white-black: #fff;
	--apple-com-white-650: rgba(255, 255, 255, 0.65);
	--apple-com-whisper: #fafafc;
	--apple-com-cod-gray: #1e1e1e;
	--apple-com-mid-gray: #6e6e73;
	--apple-com-jumbo: #86868b;
	--apple-com-white-white: #fff;
	--apple-com-athens-gray: #e8e8ed;
	--apple-com-shark: #242426;
	--apple-com-tuna: #333336;
	--apple-com-iron: #d6d6d7;
	--apple-com-mischka-640: rgba(210, 210, 215, 0.64);
	--apple-com-fire: #b64400;
	--apple-com-indian-khaki: #bfa48f;
	--apple-com-tea: #c2bcb2;
	--apple-com-ship-gray: #3c3c3d;
	--apple-com-pampas: #f7f6f2;
	--apple-com-science-blue: #0071e3;
	--apple-com-mischka: #d2d2d7;
	--apple-com-portage: #94a5eb;
	--apple-com-jet-stream: #abcfcd;
	--apple-com-kobi: #eda8d5;
	--apple-com-wild-sand: #f5f5f5;
	--apple-com-outer-space: #35393b;
	--apple-com-oyster-pink: #ebd0d2;
	--apple-com-parchment: #ece6c6;
	--apple-com-tasman: #cfd9c9;
	--apple-com-geyser: #d5dde0;
	--apple-com-cape-cod: #3c4042;
	--apple-com-rock-blue: #a0b4c7;
	--apple-com-snuff: #e6ddeb;
	--apple-com-marigold-yellow: #f9e479;
	--apple-com-ebony-clay: #222930;
	--apple-com-vista-white: #faf6f2;
	--apple-com-torch-red: #fc0324;
	--apple-com-shark: #232a31;
	--apple-com-monza: #bf0013;
	--apple-com-alabaster: #fafafa;
	--apple-com-ebony-clay: #2e3642;
	--apple-com-parchment: #f0e4d3;
	--apple-com-rolling-stone: #7d7e80;
	--apple-com-iron: #e3e4e5;
	--apple-com-thunder: #2e2c2e;
	--apple-com-satin-linen: #e5e0d8;
	--apple-com-geyser: #d7e5e6;
	--apple-com-mischka: #e3dee9;
	--apple-com-salt-box: #6b696e;
	--apple-com-hoki: #6480a3;
	--apple-com-sunglo: #de6274;
	--apple-com-confetti: #f0d95b;
	--apple-com-satin-linen: #e3dcd1;
	--apple-com-dust-storm: #e8d1cf;
	--apple-com-lavender-gray: #b9b8d1;
	--apple-com-mirage: #1a2530;
	--apple-com-celeste: #d3d6d1;
	--apple-com-alto: #e0e0e0;
	--apple-com-big-stone: #102030;
	--apple-com-albescent-white: #f6d9cd;
	--apple-com-athens-gray: #f0eff1;
	--apple-com-merlin: #47423d;
	--apple-com-albescent-white: #f4dec8;
	--apple-com-westar: #e3ddd7;
	--apple-com-cod-gray: #0f0e0e;
	--apple-com-silver-rust: #ccc4bc;
	--apple-com-white-athens-gray: #fff;
	--apple-com-di-serria: #e39e61;
	--apple-com-rose-of-sharon: #bf4800;
	--apple-com-mine-shaft: #2a2a2a;
	--apple-com-manatee: #8e8e93;
	--apple-com-french-gray: #c7c7cc;
	--apple-com-dodger-blue: #3478f6;
	--apple-com-cinnabar: #e94f3d;
	--apple-com-malibu: #77c5f5;
	--apple-com-abbey: #515154;
	--apple-com-alto: #d6d6d6;
	--apple-com-emperor: #555;
	--apple-com-mine-shaft: #333;
	--apple-com-whisper-800: rgba(250, 250, 252, 0.8);
	--apple-com-mantis: #68cc45;
	--apple-com-azure-radiance: #007aff;
	--apple-com-electric-violet: #ac39ff;
	--apple-com-crimson: #d6143a;
	--apple-com-white: #fff;
	--apple-com-white-240: rgba(255, 255, 255, 0.24);
	--apple-com-athens-gray-800: rgba(245, 245, 247, 0.8);
	--apple-com-shark-500: rgba(29, 29, 31, 0.5);
	--apple-com-black-50: rgba(0, 0, 0, 0.05);
	--apple-com-ship-gray: #424245;
	--apple-com-torch-red: #fa243c;
	--apple-com-black-russian-100: rgba(0, 0, 5, 0.1);
	--apple-com-black-200: rgba(0, 0, 0, 0.2);
	--apple-com-jumbo-800: rgba(134, 134, 139, 0.8);
	--apple-com-black-400: rgba(0, 0, 0, 0.4);
	--apple-com-cod-gray: #111;
	--apple-com-sunset-orange: #ff4d45;
	--apple-com-dove-gray: #666;
	--apple-com-black-500-linear-black-black: rgba(0, 0, 0, 0.5);
	--apple-com-timberwolf: #d9d6cc;
	--apple-com-shark: #1e1e1f;
	--apple-com-white-500: rgba(255, 255, 255, 0.5);
	--apple-com-white-radial-burnt-sienna-burnt-sienna-radial-deep-blush-deep-blush-radial-melon-melon-radial-sunglow-sunglow: #fff;
	--apple-com-white-radial-emerald-emerald-radial-tradewind-tradewind-radial-celery-celery-radial-mantis-mantis: #fff;
	--apple-com-white-radial-biloba-flower-biloba-flower-radial-anzac-anzac-radial-casablanca-casablanca-radial-sea-pink-sea-pink: #fff;
	--apple-com-alto: #d7d7d7;
	--apple-com-shark-800: rgba(29, 29, 31, 0.8);
	--apple-com-dusty-gray: #999;
	--apple-com-athens-gray: #e8e7ec;
	--apple-com-dodger-blue: #16a5ef;
	--apple-com-tropical-blue: #cce2f8;
	--apple-com-royal-blue: #2675e9;
	--apple-com-athens-gray: #e9e9eb;
	--apple-com-azure-radiance: #037eff;
	--apple-com-champagne: #fadbce;
	--apple-com-gallery: #ebebeb;
	--apple-com-dodger-blue: #3b96ff;
	--apple-com-concrete-white: #f2f2f2;
	--apple-com-gray: #888;
	--apple-com-science-blue: #0070c9;
	--apple-com-woodsmoke: #161617;
	--apple-com-meteor: #d28314;
	--apple-com-green-leaf: #5c800f;
	--apple-com-science-blue: #065ec6;
	--apple-com-alto: #d0d0d0;
	--apple-com-shark-700: rgba(29, 29, 31, 0.7);
	--apple-com-blaze-orange-100: rgba(245, 99, 0, 0.1);
	--apple-com-scorpion: #606060;
	--apple-com-melanie: #e9bfde;
	--apple-com-beryl-green: #d2e1b4;
	--apple-com-pattens-blue: #d8f1ff;
	--apple-com-malachite: #00d959;
	--apple-com-malachite: #07d959;
	--apple-com-malachite: #00d859;
	--www-apple-com-nero: #fff;
	--www-apple-com-black: #000;
	--www-apple-com-camarone: #ff5a00;
	--www-apple-com-shark: #1d1d1f;
	--www-apple-com-athens-gray: #f5f5f7;
	--www-apple-com-jumbo: #86868b;
	--www-apple-com-nero-800: rgba(255, 255, 255, 0.8);
	--www-apple-com-xanadu: #757675;
	--www-apple-com-science-blue: #06c;
	--www-apple-com-black-160: rgba(0, 0, 0, 0.16);
	--www-apple-com-black-560: rgba(0, 0, 0, 0.56);
	--www-apple-com-black-720: rgba(0, 0, 0, 0.72);
	--www-apple-com-black-880: rgba(0, 0, 0, 0.88);
	--www-apple-com-black-480: rgba(0, 0, 0, 0.48);
	--www-apple-com-science-blue: #0071e3;
	--www-apple-com-mid-gray: #6e6e73;
	--www-apple-com-blaze-orange: #f56300;
	--www-apple-com-mantis: #68cc45;
	--www-apple-com-japanese-laurel: #007aff;
	--www-apple-com-rose-of-sharon: #bf4800;
	--www-apple-com-black-80: rgba(0, 0, 0, 0.08);
	--www-apple-com-mischka: #d2d2d7;
	--www-apple-com-ship-gray: #424245;
	--www-apple-com-alto: #d6d6d6;
	--www-apple-com-emperor: #555;
	--www-apple-com-mine-shaft: #333;
	--www-apple-com-abbey: #515154;
	--www-apple-com-black-800: rgba(0, 0, 0, 0.8);
	--www-apple-com-alabaster: #fbfbfb;
	--www-apple-com-ebony-clay: #2e3642;
	--www-apple-com-nero-0-20: rgba(255, 255, 255, 0);
	--www-apple-com-parchment: #f0e4d3;
	--www-apple-com-rolling-stone: #7d7e80;
	--www-apple-com-iron: #e3e4e6;
	--www-apple-com-mischka-640: rgba(210, 210, 215, 0.64);
	--www-apple-com-alabaster: #fafafa;
	--www-apple-com-athens-gray-750: rgba(245, 245, 247, 0.75);
	--www-apple-com-stratos: #00ff41;
	--www-apple-com-cod-gray: #111;
	--www-apple-com-japanese-laurel: #2997ff;
	--www-apple-com-science-blue: #0070c9;
	--www-apple-com-nero-240: rgba(255, 255, 255, 0.24);
	--www-apple-com-french-rose: #f64b82;
	--www-apple-com-athens-gray-700: rgba(232, 232, 237, 0.7);
	--www-apple-com-shark-600: rgba(29, 29, 31, 0.6);
	--www-apple-com-athens-gray: #e8e8ed;
	--www-apple-com-ship-gray-700: rgba(66, 66, 69, 0.7);
	--www-apple-com-tuna: #333336;
	--www-apple-com-fire: #b64400;
	--www-apple-com-oyster-pink: #ebd0d2;
	--www-apple-com-parchment: #ece6c6;
	--www-apple-com-tasman: #cfd9c9;
	--www-apple-com-geyser: #d5dde0;
	--www-apple-com-cape-cod: #3c4042;
	--www-apple-com-tide: #bab4a9;
	--www-apple-com-bright-gray: #3d4555;
	--www-apple-com-pampas: #f2f1eb;
	--www-apple-com-abbey: #3f4042;
	--www-apple-com-white-black: #fff;
	--www-apple-com-white-920: rgba(255, 255, 255, 0.92);
	--www-apple-com-athens-gray-800: rgba(245, 245, 247, 0.8);
	--www-apple-com-black-300: rgba(0, 0, 0, 0.3);
	--www-apple-com-azure-radiance: #0075ff;
	--www-apple-com-boulder: #767676;
	--www-apple-com-woodsmoke: #181919;
	--www-apple-com-timberwolf: #d3d1cd;
	--www-apple-com-natural-gray: #959086;
	--www-apple-com-cement: #977e6b;
	--www-apple-com-silver-rust: #c8c2bd;
	--www-apple-com-bridal-heath: #fffaf6;
	--www-apple-com-ship-gray-720: rgba(66, 66, 69, 0.72);
	--www-apple-com-dusty-gray: #979797;
	--www-apple-com-malachite: #00d959;
	--www-apple-com-white-400: rgba(255, 255, 255, 0.4);
	--www-apple-com-woodsmoke: #161617;
	--www-apple-com-pumpkin: #ff791b;
	--www-apple-com-donkey-brown: #a8907e;
	--www-apple-com-dawn: #a6a198;
	--www-apple-com-quill-gray: #dbdad7;
	--www-apple-com-shark: #202121;
	--www-apple-com-scampi: #6473b0;
	--www-apple-com-gumbo: #82a8a6;
	--www-apple-com-viola: #c981b0;
	--www-apple-com-alto: #e0e0e0;
	--www-apple-com-woodsmoke: #191b1c;
	--www-apple-com-white-560: rgba(255, 255, 255, 0.56);
	--www-apple-com-woodsmoke-800: rgba(22, 22, 23, 0.8);
	--www-apple-com-white-white: #fff;
	--www-apple-com-white-500: rgba(255, 255, 255, 0.5);
	--www-apple-com-royal-blue: #6467e6;
	--www-apple-com-cascade: #85adac;
	--www-apple-com-mauvelous: #ee94ca;
	--www-apple-com-mercury: #e7e7e7;
	--www-apple-com-mine-shaft: #202020;
	--www-apple-com-link-water: #f1f3fb;
	--www-apple-com-cornflower-blue: #708dfa;
	--www-apple-com-hopbush: #d464ae;
	--www-apple-com-gray: #8a8989;
	--www-apple-com-mauve: #eda4ff;
	--www-apple-com-wedgewood: #4e949f;
	--www-apple-com-alto: #d8d8d8;
	--www-apple-com-whisper: #fafafc;
	--www-apple-com-jordy-blue: #9aadf6;
	--www-apple-com-jungle-mist: #b0d4d2;
	--www-apple-com-chantilly: #f2adda;
	--www-apple-com-indian-khaki: #bfa48f;
	--www-apple-com-tea: #c2bcb2;
	--www-apple-com-cararra: #f2f1ed;
	--www-apple-com-ship-gray: #3c3c3d;
	--www-apple-com-whisper-800: rgba(250, 250, 252, 0.8);
	--www-apple-com-iphone-15--1600x900-default-nero: #fff;
	--www-apple-com-iphone-15--1600x900-default-science-blue: #0071e3;
	--www-apple-com-iphone-15--1600x900-default-shark: #1d1d1f;
	--www-apple-com-iphone-15--1600x900-default-science-blue: #06c;
	--www-apple-com-iphone-15--1600x900-default-athens-gray: #f5f5f7;
	--www-apple-com-iphone-15--1600x900-default-athens-gray-700: rgba(232, 232, 237, 0.7);
	--www-apple-com-iphone-15--1600x900-default-mid-gray: #6e6e73;
	--www-apple-com-iphone-15--1600x900-default-jumbo: #86868b;
	--www-apple-com-iphone-15--1600x900-default-athens-gray: #e8e8ed;
	--www-apple-com-iphone-15--1600x900-default-black-560: rgba(0, 0, 0, 0.56);
	--www-apple-com-iphone-15--1600x900-default-black: #000;
	--www-apple-com-iphone-15--1600x900-default-ship-gray-700: rgba(66, 66, 69, 0.7);
	--www-apple-com-iphone-15--1600x900-default-mischka: #d2d2d7;
	--www-apple-com-iphone-15--1600x900-default-tuna: #333336;
	--www-apple-com-iphone-15--1600x900-default-nero-800: rgba(255, 255, 255, 0.8);
	--www-apple-com-iphone-15--1600x900-default-mischka-640: rgba(210, 210, 215, 0.64);
	--www-apple-com-iphone-15--1600x900-default-fire: #b64400;
	--www-apple-com-iphone-15--1600x900-default-oyster-pink: #ebd0d2;
	--www-apple-com-iphone-15--1600x900-default-parchment: #ece6c6;
	--www-apple-com-iphone-15--1600x900-default-tasman: #cfd9c9;
	--www-apple-com-iphone-15--1600x900-default-geyser: #d5dde0;
	--www-apple-com-iphone-15--1600x900-default-cape-cod: #3c4042;
	--www-apple-com-iphone-15--1600x900-default-tide: #bab4a9;
	--www-apple-com-iphone-15--1600x900-default-bright-gray: #3d4555;
	--www-apple-com-iphone-15--1600x900-default-pampas: #f2f1eb;
	--www-apple-com-iphone-15--1600x900-default-abbey: #3f4042;
	--www-apple-com-iphone-15--1600x900-default-black-160: rgba(0, 0, 0, 0.16);
	--www-apple-com-iphone-15--1600x900-default-black-720: rgba(0, 0, 0, 0.72);
	--www-apple-com-iphone-15--1600x900-default-black-880: rgba(0, 0, 0, 0.88);
	--www-apple-com-iphone-15--1600x900-default-black-480: rgba(0, 0, 0, 0.48);
	--www-apple-com-iphone-15--1600x900-default-white-lilac-800: rgba(251, 251, 253, 0.8);
	--www-apple-com-iphone-15--1600x900-default-black-800: rgba(0, 0, 0, 0.8);
	--www-apple-com-iphone-15--1600x900-default-whisper: #fafafc;
	--www-apple-com-iphone-15--1600x900-default-black-40: rgba(0, 0, 0, 0.04);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-nero: #fff;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-science-blue: #0071e3;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-shark: #1d1d1f;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-science-blue: #06c;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-athens-gray: #f5f5f7;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-athens-gray-700: rgba(232, 232, 237, 0.7);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-shark-600: rgba(29, 29, 31, 0.6);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-shark: #29292a;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-nero-500: rgba(255, 255, 255, 0.5);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-nero-0-20: rgba(255, 255, 255, 0);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-oyster-pink: #ebd0d2;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-parchment: #ece6c6;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-tasman: #cfd9c9;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-geyser: #d5dde0;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-cape-cod: #3c4042;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-mid-gray: #6e6e73;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-jumbo: #86868b;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-athens-gray: #e8e8ed;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-black-560: rgba(0, 0, 0, 0.56);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-black: #000;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-ship-gray-700: rgba(66, 66, 69, 0.7);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-mischka: #d2d2d7;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-tuna: #333336;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-nero-800: rgba(255, 255, 255, 0.8);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-mischka-640: rgba(210, 210, 215, 0.64);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-fire: #b64400;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-tide: #bab4a9;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-bright-gray: #3d4555;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-pampas: #f2f1eb;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-abbey: #3f4042;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-black-160: rgba(0, 0, 0, 0.16);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-black-720: rgba(0, 0, 0, 0.72);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-black-880: rgba(0, 0, 0, 0.88);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-black-480: rgba(0, 0, 0, 0.48);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-white-lilac-800: rgba(251, 251, 253, 0.8);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-black-800: rgba(0, 0, 0, 0.8);
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-whisper: #fafafc;
	--www-apple-com-iphone-15--555-5555419921875x987-77783203125-default-black-40: rgba(0, 0, 0, 0.04);
	--www-apple-com-iphone-15--2217-77783203125x1017-77783203125-nero: #fff;
	--www-apple-com-macbook-pro--1600x900-default-nero: #fff;
	--www-apple-com-macbook-pro--1600x900-default-shark: #1d1d1f;
	--www-apple-com-macbook-pro--1600x900-default-science-blue: #0071e3;
	--www-apple-com-macbook-pro--1600x900-default-science-blue: #06c;
	--www-apple-com-macbook-pro--1600x900-default-black: #000;
	--www-apple-com-macbook-pro--1600x900-default-athens-gray: #f5f5f7;
	--www-apple-com-macbook-pro--1600x900-default-athens-gray-700: rgba(232, 232, 237, 0.7);
	--www-apple-com-macbook-pro--1600x900-default-jumbo: #86868b;
	--www-apple-com-macbook-pro--1600x900-default-pelorous: #43b9b9;
	--www-apple-com-macbook-pro--1600x900-default-japanese-laurel: #2997ff;
	--www-apple-com-macbook-pro--1600x900-default-pirate-gold: #a972ff;
	--www-apple-com-macbook-pro--1600x900-default-mid-gray: #6e6e73;
	--www-apple-com-macbook-pro--1600x900-default-ship-gray-700: rgba(66, 66, 69, 0.7);
	--www-apple-com-macbook-pro--1600x900-default-woodsmoke: #161617;
	--www-apple-com-macbook-pro--1600x900-default-ship-gray: #424245;
	--www-apple-com-macbook-pro--1600x900-default-ship-gray: #424247;
	--www-apple-com-macbook-pro--1600x900-default-whisper: #fafafc;
	--www-apple-com-macbook-pro--1600x900-default-mischka: #d2d2d7;
	--www-apple-com-macbook-pro--1600x900-default-alabaster: #fafafa;
	--www-apple-com-macbook-pro--1600x900-default-tuna: #333336;
	--www-apple-com-macbook-pro--1600x900-default-nero-800: rgba(255, 255, 255, 0.8);
	--www-apple-com-macbook-pro--1600x900-default-mischka-640: rgba(210, 210, 215, 0.64);
	--www-apple-com-macbook-pro--1600x900-default-black-560: rgba(0, 0, 0, 0.56);
	--www-apple-com-macbook-pro--1600x900-default-fire: #b64400;
	--www-apple-com-macbook-pro--1600x900-default-thunder: #2e2c2e;
	--www-apple-com-macbook-pro--1600x900-default-iron: #e3e4e5;
	--www-apple-com-macbook-pro--1600x900-default-rolling-stone: #7d7e80;
	--www-apple-com-macbook-pro--1600x900-default-ebony-clay: #2e3642;
	--www-apple-com-macbook-pro--1600x900-default-parchment: #f0e4d3;
	--www-apple-com-macbook-pro--1600x900-default-black-160: rgba(0, 0, 0, 0.16);
	--www-apple-com-macbook-pro--1600x900-default-black-720: rgba(0, 0, 0, 0.72);
	--www-apple-com-macbook-pro--1600x900-default-black-880: rgba(0, 0, 0, 0.88);
	--www-apple-com-macbook-pro--1600x900-default-black-480: rgba(0, 0, 0, 0.48);
	--www-apple-com-macbook-pro--1600x900-default-white-lilac-800: rgba(251, 251, 253, 0.8);
	--www-apple-com-macbook-pro--1600x900-default-black-800: rgba(0, 0, 0, 0.8);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-nero: #fff;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-shark: #1d1d1f;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-science-blue: #0071e3;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-science-blue: #06c;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-black: #000;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-athens-gray: #f5f5f7;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-athens-gray-700: rgba(232, 232, 237, 0.7);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-shark-600: rgba(29, 29, 31, 0.6);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-shark: #29292a;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-nero-500: rgba(255, 255, 255, 0.5);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-mid-gray: #6e6e73;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-jumbo: #86868b;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-pelorous: #43b9b9;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-japanese-laurel: #2997ff;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-pirate-gold: #a972ff;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-ship-gray-720: rgba(66, 66, 69, 0.72);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-nero-800: rgba(255, 255, 255, 0.8);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-ship-gray-700: rgba(66, 66, 69, 0.7);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-woodsmoke: #161617;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-ship-gray: #424245;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-ship-gray: #424247;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-whisper: #fafafc;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-mischka: #d2d2d7;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-alabaster: #fafafa;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-tuna: #333336;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-mischka-640: rgba(210, 210, 215, 0.64);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-black-560: rgba(0, 0, 0, 0.56);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-fire: #b64400;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-thunder: #2e2c2e;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-iron: #e3e4e5;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-rolling-stone: #7d7e80;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-ebony-clay: #2e3642;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-parchment: #f0e4d3;
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-black-160: rgba(0, 0, 0, 0.16);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-black-720: rgba(0, 0, 0, 0.72);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-black-880: rgba(0, 0, 0, 0.88);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-black-480: rgba(0, 0, 0, 0.48);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-white-lilac-800: rgba(251, 251, 253, 0.8);
	--www-apple-com-macbook-pro--555-5555419921875x987-77783203125-default-black-800: rgba(0, 0, 0, 0.8);
	--www-apple-com-macbook-pro--2217-77783203125x1017-77783203125-2-iron: #e3e4e5;
	--www-apple-com-macbook-pro--2217-77783203125x1017-77783203125-2-nero-0-20: rgba(255, 255, 255, 0);
	--www-apple-com-macbook-pro--2217-77783203125x1017-77783203125-2-shark: #1d1d1f;
	--www-apple-com-macbook-pro--2217-77783203125x1017-77783203125-2-thunder: #2e2c2e;
	--www-apple-com-macbook-pro--2217-77783203125x1017-77783203125-3-shark: #1d1d1f;
	--www-apple-com-macbook-pro--2217-77783203125x1017-77783203125-3-athens-gray: #f5f5f7;
	--www-apple-com-macbook-pro--2217-77783203125x1017-77783203125-4-shark: #1d1d1f;
}
